<!--<form [formGroup]="loginForm" (ngSubmit)="onSubmit()">-->
<!--  <input type="text" formControlName="username" placeholder="Usuario" />-->
<!--  <input type="password" formControlName="password" placeholder="Contraseña" />-->
<!--  <button type="submit">Iniciar sesión</button>-->
<!--  <p *ngIf="error" style="color:red">{{ error }}</p>-->
<!--</form>-->

<div class="login-container">
  <h2>Login</h2>
  <form [formGroup]="loginForm" (ngSubmit)="onSubmit()">
    <div class="form-group">
      <label for="username">Username:</label>
      <input type="text" id="username" formControlName="username" name="username" required>
    </div>
    <div class="form-group">
      <label for="password">Password:</label>
      <input type="password" id="password" formControlName="password" name="password" required>
    </div>
    <button type="submit">Login</button>
    <p *ngIf="error" class="error-message">Invalid username or password.</p>
  </form>
</div>
